<hr>
<p>SOCCER DATABASE</p>
<hr>
<p>SELECT OPTION</p>
<select name="Soccer" id="Soccer">
  <option value="EDIT SEASON">SEASON</option>
  <option value="EDIT DIVISION">DIVISION</option>
  <option value="EDIT TEAM">TEAM</option>
  <option value="EDIT STATS">STATS</option>
  <option value="SHOWALL">SHOW ALL</option>
  </select>
  &nbsp;&nbsp;
<button class="btn btn-primary" [disabled]="">GO</button>

<hr>
<app-division>DIVISION DATA</app-division>
<hr>
<app-team>TEAM DATA</app-team>
<hr>
<app-stats>STATS</app-stats>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </table>
